export(casecross, ciPhase, cipolygon, cosinor, flagleap, invyrfraction,
       kalfil,monthglm, nochars, nscosinor, peri, phasecalc, plotCircle,
       plotCircular,monthmean,createAdj, monthplot, sinusoid,
       plot.Cosinor,plot.monthglm, plot.nsCosinor, print.casecross,
       print.Cosinor, print.monthglm, print.nsCosinor, print.summary.Cosinor,
       print.summary.monthglm, print.summary.nsCosinor, rinvgamma,
       seasrescheck, summary.casecross, summary.Cosinor, summary.monthglm,
       summary.nsCosinor, wtest, yrfraction)
S3method(print, casecross)
S3method(print, Cosinor)
S3method(print, monthglm)
S3method(print, Monthmean)
S3method(print, nsCosinor)
S3method(print, summary.Cosinor)
S3method(print, summary.monthglm)
S3method(print, summary.nsCosinor)
S3method(summary, casecross)
S3method(summary, Cosinor)
S3method(summary, monthglm)
S3method(summary, nsCosinor)
S3method(plot, Cosinor)
S3method(plot, monthglm)
S3method(plot, nsCosinor)
S3method(plot, Monthmean)
importFrom(coda, mcmc)
